version: 2
jobs:
  build:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: |
            ./build.sh
      - run:
          command: |
            docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD

            # 6/boron
            docker push makethunder/node:6-slim

            # 8/carbon
            docker push makethunder/node:8-jessie
            docker push makethunder/node:8-slim

            # 10
            docker push makethunder/node:10-alpine
            docker push makethunder/node:10-jessie
            docker push makethunder/node:10-slim
            docker push makethunder/node:10-stretch

            docker tag makethunder/node:10-jessie makethunder/node:10
            docker tag makethunder/node:10-jessie makethunder/node:latest

            docker push makethunder/node:10
            docker push makethunder/node:latest
